/* ==============-----------------
Main CSS file for Discuz! X3.2
name：xinrui_vmall
Powered by xinrui
-----------------============== */
a{color:#7c7c7c;}
.black a:link,.black a:visited,.black a:active{color:#524b48;}
a:hover,.black a:hover{text-decoration:none;color:#24b9bf;}

/* ==========新锐创想头部========*/
#toptb #switchblind{display:none;}
#toptb {background:#404040;height:36px;line-height:36px;border:none;color:#b7b7b7;}
#toptb a{display:block;transition:all 0.1s ease 0s;height:36px;line-height:36px;font-size:12px;float:left;padding:0 8px;}
#toptb a:link,#toptb a:visited,#toptb a:active{color:#b7b7b7;}
#toptb a:hover{color:#fff;}
#toptb #diy-tg{background-position:100% center;float:right;}
#toptb #diy-tg_menu{top:33px !important;}
#toptb #diy-tg_menu li,#toptb #diy-tg_menu li a{line-height:24px;height:24px;font-size:12px;}
#toptb #diy-tg_menu a:link,#toptb #diy-tg_menu a:visited,#toptb #diy-tg_menu a:active{color:#333;}
#toptb #diy-tg_menu a:hover{color:#db2121;}
#switchwidth{display:none !important;}

#hd{background:#fff;border-bottom:1px solid #e4e4e4;margin-bottom:10px;}
#hd .hdc{border-bottom: 1px solid #f2f2f2;}
#hd .hdc h2{padding:0;height:60px;overflow:hidden;}

#um{padding:0;height:36px;line-height:36px;color:#fff;position:relative;}
#um a{font-size:12px;}
#um .umLogin{padding-right:36px;background:none;}
#um .av{width:30px;height:30px;display:block;float:left;margin:3px 10px 0 0; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;overflow:hidden;padding:0 !important;}
#um .av img{width:30px;height:30px;}
#um i.arrow-w{width:9px;height:5px;overflow:hiden;display:block;background:url({STYLEIMGDIR}um_arrow.png) 0 0 no-repeat;top:15px;right:15px;position:absolute;}
#umLogin_menu{position:absolute;top:36px !important;right:0 !important;left:auto !important;background: #fff;border: 1px solid #e1e1e1;border-radius: 8px;box-shadow: 1px 1px 3px #ededed;font-size: 12px;font-weight: normal;padding: 12px 12px 0;width: 160px;z-index: 3;}
.um_info{padding:0 0 6px 0;position:relative;border-bottom:solid 1px #e5edf2;}
#um .um_info a.avt{display:block;width:100px;height:100px;overflow:hidden;float:none;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;padding:0;margin:0 auto 10px;border:none;}
.um_info a.avt img{padding:0;border:none;width:100px;height:100px;}
#um .um_info .vwmy,#um .um_info .vwmy a{height:26px;line-height:26px;display:block;padding:0;border:none;}
#um .um_info .vwmy{padding-left:20px;background-position:0 center;}
#um .um_info a{border:none;padding:0;height:26px;line-height:26px;margin:0;}
#um .um_op span.pipe{display:none;}
#um .um_op div{width:160px;margin-bottom:10px;}
#um .um_op div a{float:none;width:160px;padding-top:10px;height:30px;}
#um .um_op div a img{margin-top:0;}
#um .um_op a{height:34px;line-height:34px;padding:0;overflow:hidden;float:left;width:80px;margin:0 !important;text-align:center;}
#um .showmenu{margin:0;}
#um .um_op a.new{padding-left:20px;width:60px;}
#um .login_nrrow{position:absolute; top:-10px;right:45px;}
#um .um_info a:hover,#um .um_op a:hover{background-color:#fff !important;color:#f60;}
#umLogin_menu a:link,#umLogin_menu a:visited,#umLogin_menu a:active{color:#999;}
#myprompt_menu {display:none !important;}

#scbar{width:330px;background:none;border:solid 1px #e4e4e4;height:28px;line-height:28px;padding:2px 5px;border-radius:3px;overflow:hidden;margin-top:13px;}
#scbar_txt{width:240px;line-height:28px;height:28px;float:left;padding:0;border:none;}
#scbar li{float:left;background:none;height:28px;}
#scbar_type{padding-left:15px;line-height:20px;}
#scbar .scbar_type_td{position:relative;width:45px;padding:0;border-right:solid 1px #ddd;height:24px;margin-top:4px;}
.scbar_type_td i{position:absolute;top:50%;left:0;width:0;height:0;margin-top:-4px;display:block;overflow:hidden;border:solid 4px #ccc;border-bottom-color:#fff;border-left-color:#fff;border-right-color:#fff;}
.scbar_btn_td{width:20px;margin-left:10px;}
#scbar_btn{width:20px;height:28px;overflow:hidden;float:left;background:url({STYLEIMGDIR}searchlogo.gif) center center no-repeat;}
#scbar_type_menu{background:#fff;border: 1px solid #f1f1f1;box-shadow: 3px 5px 5px #dedede;position: absolute;top: 63px;width:100px; z-index: 111;margin:0;padding:10px;}
#scbar_type_menu a{line-height:24px;border-bottom-color:#f1f1f1;}
#scbar_type_menu a:hover{background:none;}
#scbar_type_menu a:hover{color:#f60 !important;}

#nv, #mu{border:none !important;}
#nv{height:46px;line-height:46px;overflow:hidden;}
#nv ul{position:relative;}
#nv li{background:none;height:46px;line-height:46px;padding:0;}
#nv li.a{margin:0;}
#nv li a{font-size:16px;font-weight:normal;height:46px;line-height:46px;padding:0 30px;}
#nv li a:hover,#nv li.hover a:hover{background:none;text-decoration:none;color:#db2121}
#nv li.hover a{background:none;}
#nv li.navsign {position:absolute;z-index:9; left:0; top:44px; height:2px; line-height:2px; font-size:0; overflow:hidden; width:40px; background:#db1212;margin:0;}
#hd .p_pop.h_pop{background:#fff;border:solid 1px #e4e4e4;box-shadow:none;}
#hd .p_pop.h_pop a{padding:8px;border-bottom-color:#e4e4e4;font-size:12px;}
#hd .p_pop.h_pop a:link,#hd .p_pop.h_pop a:visited,#hd .p_pop.h_pop a:active{color:#666;}
#hd .p_pop.h_pop a:hover{color:#db1212;}
#qmenu {margin:4px 0;line-height:36px;height:36px;font-weight:normal;font-weight:normal;font-size:16px;border:none;background:none;padding:1px 20px 1px 15px;width:auto;background:#fff url({STYLEIMGDIR}xr_qmenu.png) 86px 18px no-repeat;}
#qmenu.a {border:solid 1px #dce4eb;background-position:86px -12px;border-bottom:none;}
#qmenu.a {color:#db1212 !important;}
#qmenu_menu{box-shadow:none;}

/* ==========新锐创想首页样式========*/
.portal_slide{width:960px;height:395px;overflow:hidden;position:relative;}
.portal_slide .slidebar {text-align:center;position:absolute; bottom:20px;right:30px;z-index:10;}
.portal_slide .slidebar li{text-indent:-9999px;overflow:hidden;width:10px;height:10px;margin-right:5px;display:block;float:left;background:url("{STYLEIMGDIR}slidebar.png") -50px 0 no-repeat;}
.portal_slide .slidebar li.on{background-position:0 0;}
.portal_slide .slideshow{position:relative;z-index:9;}
.portal_slide .slideshow li,.portal_slide .slideshow li a{width:960px;height:395px;overflow:hidden;position:relative;display:block;border-radius:5px;}
.portal_slide .slideshow img{display:block;}
.portal_slide .prev,.portal_slide .next,.slidebardown,.slidebarup{display: none; position: absolute; height: 31px; width:31px; background:url("{STYLEIMGDIR}slidebar.png") 0 0 no-repeat; top:50%; z-index:10;margin-top:-16px;}
.portal_slide:hover .prev,.portal_slide:hover .next,.slidebox:hover .slidebardown,.slidebox:hover .slidebarup{display:block;}
.portal_slide .next,.slidebardown {right:10px;background-position:-50px -40px;}
.portal_slide .next:hover,.slidebardown:hover {background-position:-50px -90px;}
.portal_slide .prev,.slidebarup {left:10px;background-position:0 -41px;}
.portal_slide .prev:hover,.slidebarup:hover {background-position:0 -90px;}
.portal_ad{width:960px;}
.portal_ad ul{width:1000px;}
.portal_ad li{width:314px;height:174px;margin-right:10px;float:left;border-radius:10px;overflow:hidden;}
.col1{border: 1px solid #e4e4e4;border-radius:5px;float: left;width:660px;background:#fff;padding:0 24px;}
.newest li {padding:20px 0;position:relative;}
.newest li .pic{width:660px;height:200px;overflow:hidden;border-radius:5px;}
.newest li .pic img{width:660px;height:200px;display:block;}
.newest li h3{font-size:22px;font-weight:normal;}
.newest li h3 a:link,.newest li h3 a:visited,.newest li h3 a:active{color:#333;}
.newest li h3 a:hover{color:#24b9bf;}
.newest li .info{color:#999;font-size:14px;line-height:22px;margin-top:10px;}
.newest li .attr{padding:8px 0;color:#b4b4b4;}
.newest li .attr span{height:24px;line-height:24px;display:inline-block;}
	.attr .y span{padding-left:20px;margin-left:20px;}
	.attr span.view{background:url({STYLEIMGDIR}view.png) 0 7px no-repeat;}
	.attr span.rep{background:url({STYLEIMGDIR}rep.png) 0 8px no-repeat;}
	.attr #bdshare{float:right !important; padding:0 !important}
	.attr #bdshare .bds_more{padding:0 0 0 20px!important; margin:0 0 0 20px !important;background:url({STYLEIMGDIR}share.png) 0 2px no-repeat !important;}

.col2{overflow: hidden;width: 240px;}
.blocktitle.title{height:42px;line-height:40px;font-size:16px; color: #5e5e5e;padding:0;text-align:center;}
.blocktitle.title .titletext{float:none;}
.sd_tit .blocktitle.title{border-bottom: 1px solid #e4e4e4;margin-bottom:10px;}
.sd_box{background:#fff;border: 1px solid #e4e4e4;border-radius:5px;margin-bottom:15px;overflow:hidden;}
.sd_box .temp{margin:0;}
.sd_btn {padding:15px;}
.sd_btn a,#create_group_btn{display:block;height:42px;line-height:42px;font-size:16px;text-align:center;background-color:#28c0c6;background-position:50px -55px;color:#fff !important;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;background-image:url({STYLEIMGDIR}sd_btn.png);background-repeat:no-repeat;padding-left:30px;}
.sd_btn a:hover{background-color:#09b0b7;text-decoration:none;}
.sd_btn a.signin{background-position:50px 10px;margin-top:15px;}
#create_group_btn{padding:0;background-image:none;}
.colu  li{text-align:center;margin:0;font-size:12px;height:auto;}
.colu .dxb_bc .module{border-top:solid 1px #f0f5f6;}
.colu .dxb_bc li a{border-right:solid 1px #f0f5f6;border-bottom:solid 1px #f0f5f6;padding:6px 0;display:block;height:24px;line-height:24px;}
.colu .dxb_bc li.all_f{width:100%;}
.colu .dxb_bc li.all_f a{border:none;font-size:14px;font-weight:bold;}
.photo .slidebar{top:145px !important;right:10px !important;left:auto !important;}
.photo .slidebar li,.video .slidebar li{width:8px;height:8px;overflow:hidden;text-indent:-9999px;border-radius:4px;margin-right:2px;float:left;}
.photo .slidebar li.on,.video .slidebar li.on{background:#28c0c6;}
.photo .dxb_bc,.photo .slideshow li{height:160px !important;}
.photo .slideshow li{border-radius:5px;}
.photo .slideshow li a{width:238px;height:160px;display:block;overflow:hidden;position:relative;}
.photo .slideshow span{color:#fff;font-weight:normal;height:30px;text-indent:15px;line-height:30px;padding:0;overflow:hidden;text-overflow: ellipsis;display:block;white-space: nowrap;width:100%;float:left;background:rgba(0,0,0,0.3);position:absolute;left:0;bottom:0;}
.video .videoBox{height:190px;}
.video{position:relative;}
.video .slidebar{position:absolute;bottom:11px;left:10px;}
.video .prev,.video .next{width:16px;height:16px;overflow:hidden;background:url({STYLEIMGDIR}video_icon.png) 0 0 no-repeat;position:absolute;bottom:8px;}
.video .prev{right:30px;}
.video .next{right:10px;background-position:-25px 0;}
.video .slideshow li a{display:block;position:relative;background:#000;}
.video .slideshow li a img{display:block;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.video .slideshow li a i{width:75px;height:75px;overflow:hidden;position:absolute;top:50%;left:50%;margin:-37px 0 0 -37px;background:url({STYLEIMGDIR}video_play.png) -100px 0 no-repeat;}
.video .slideshow li a:hover i{background-position:0 0;}
.video .slideshow li a:hover img{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.expert ul{width:240px;}
.expert li{float:left;padding:0;margin-right:2px;position:relative;}
.expert li a{display:block;background:#333;}
.expert li span{position:absolute;top:0;left:0;width:100%;height:78px;line-height:78px;color:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;text-align: center;transition: all 0.35s ease 0s;word-break: break-all;word-wrap: break-word;}
.expert li a:hover span{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.expert li a:hover img{filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.expert .first img{width:238px;height:136px;}
.expert .first span{line-height:136px;}
.expert li.first{margin-bottom:2px;}
.hot_post {padding-bottom:15px;}
.hot_post .blocktitle.title,.weibo .blocktitle.title,.gr_top .blocktitle.title,.inte_top .blocktitle.title{border-bottom:solid 1px #e4e4e4;margin-bottom:5px;}
.hot_post .xl1 ul li{height: 28px;line-height: 28px;overflow: hidden;padding-left: 32px;text-overflow: ellipsis;white-space: nowrap;width: 192px;background:url({STYLEIMGDIR}point.png) 12px -40px no-repeat;margin:0;}
.hot_post .xl1 ul li.htop {background-position:12px 12px;}
.hot_post .xl1 ul li.htop a{color:#24b9bf;}
.weibo {text-align:center;}
.weibo .sina_wb{margin-top:20px;background-image:url({STYLEIMGDIR}sina.png);background-position: 25px center;background-repeat:no-repeat;}
.xr_lk{border: 1px solid #e4e4e4;border-radius:5px;background:#fff;}
.xr_lk .blocktitle.title{border-bottom:1px solid #e4e4e4;height:38px;font-size:14px;text-align:left;line-height:34px;padding:0 10px;}
.xr_lk .x {padding:10px;margin:0;}
.xr_lk .x ul{margin-bottom:0 !important;}
.xr_lk .x li{float:left;margin:0 20px 10px 0;display:inline-block;}

/* ==========新锐创想分页 =========== */
.jquery_pagnation{padding:10px 0 30px;}
.pages { border-radius: 5px; /*margin-left: 50%;*/ font-size: 14px;  text-align: center; }
	.pages a,.pages span,.pages em { display: inline-block; width: 30px; height: 30px; line-height: 30px; margin-left: -1px; border: 1px solid #e6e9ed; text-align: center; vertical-align: middle; }
	.pages a { background: #fff; color: #666; }
		.pages a.a1 { width: auto; padding: 0 8px; cursor: pointer; }
		.pages a:hover {background: #28c0c6;color:#fff;}
	.pages span { background: #28c0c6; color: #fff; }
	.pages a:first-child {border-radius: 5px 0 0 5px;}
	.pages a:last-child {border-radius: 0 5px 5px 0;}
	.pages.pages-r {text-align: right;}

/* ==========新锐创想论坛版块页面=========== */
.bp{padding:15px;background:#fff;border:solid 1px #e4e4e4;border-radius:5px;margin-bottom:15px;}
.xr_forum {margin:20px 0;}
.xr_forum #chart{background:#fff;padding:20px;font-size:14px;margin-bottom:15px;border:solid 1px #e4e4e4;border-radius:5px;}
.xr_forum .chart{padding:0;background:none;color:#333;}
.xr_forum .chart li{line-height:40px;float:left;width:160px;text-align:center;}
.xr_forum #chart .y{margin-top:26px;}
.xr_forum .chart li em{font-size: 26px;font-weight: bold;text-align: center;display:block;}
.xr_grid{padding:10px !important;border-color:#e4e4e4 !important;margin-bottom:15px;}
.xr_grid .slidebox_grid{margin:0;border:none;}
.xr_grid .slidebox_grid .slideouter{border:none !important;}
.xr_grid .slidebox_grid .slideswitch{width:8px !important;height:8px !important;overflow:hidden;text-indent:-9999px !important;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0 2px;}
.xr_grid .slidebox_grid div:nth-last-child(1) {right:10px;}
#category_grid.xr_grid h4{background:none;color: #5e5e5e;font-size: 16px;font-weight: normal;line-height:22px;height:22px;width:auto;margin-bottom:10px;transition: 400ms; -webkit-transition: 400ms; -moz-transition: 400ms;}
.category_l1, .category_l2, .category_l3{background:none;}
#category_grid.xr_grid h4 span{display:none;}
#category_grid.xr_grid .subjectbox,#category_grid.xr_grid .replaybox{border-right:solid 1px #e7e7e7;}
#category_grid.xr_grid .goodtiebox{border-left:solid 1px #e7e7e7;}
.category_newlist{padding-bottom:0;padding-top:0;}
.category_newlist li{font-size: 12px;overflow: hidden;padding-left: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.subjectbox,.replaybox,.hottiebox,.goodtiebox{height:250px;}
.category_newlist li a:hover{transition: 300ms; -webkit-transition: 300ms; -moz-transition: 300ms;text-decoration:none;}
.xr_forum_tit{height: 40px;line-height:30px;border-bottom: 1px dashed #e5e5e5;}
.xr_forum_tit h2{font-size:22px;font-weight:normal;color:#333;}
.xr_forum_tit .o{float:right;margin-top:12px;}
.xr_forum_tit .y,.xr_forum_tit .y a:link,.xr_forum_tit .y a:visited,.xr_forum_tit .y a:active{color:#b4b4b4;}
.xr_forum_tit .y a:hover{color:#24b9bf;}
.xr_forum_tit .y{margin-right:20px;}
.xr_forum_box .fl_tb td{padding:15px 8px;}
.xr_forum_box .fl_tb .fl_g .fl_icn_g{float:none;width:auto;text-align:center;}
.xr_forum_box .fl_tb .fl_g .fl_icn_g img{float:none;border-radius:5px;}
.xr_forum_box .fl_tb .fl_g dl{padding:0;margin:0;text-align:center;}
.xr_forum_box .fl_tb .fl_g dt{font-size: 14px;font-weight:normal;margin-top:10px;}
.xr_forum_box .fl_tb td h2 {font-size: 16px;font-weight:normal;padding-bottom:10px;}
.xr_forum_box .fl_tb .fl_g dt em{margin-left:8px;color:#24b9bf;}
.xr_forum_box .fl_tb .fl_row td{border:none;}
.xr_forum_box .fl_tb .fl_g dt a:link,.xr_forum_box .fl_tb .fl_g dt a:visited,.xr_forum_box .fl_tb .fl_g dt a:active,
.xr_forum_box .fl_tb td h2 a:link,.xr_forum_box .fl_tb td h2 a:visited,.xr_forum_box .fl_tb td h2 a:active{color:#333;}
.xr_forum_box .fl_tb .fl_g dt a:hover,.xr_forum_box .fl_tb td h2 a:hover{color:#24b9bf;}

#category_lk .bbda{border-style-bottom:dotted;}
.xr_forum_box .fl_tb td.fl_i span{font-size:16px;}
.xr_forum_box .fl_tb td.fl_by,.xr_forum_box .fl_tb td.fl_by a:link,.xr_forum_box .fl_tb td.fl_by a:visited,.xr_forum_box .fl_tb td.fl_by a:active{color:#999;}
.xr_forum_box .fl_tb td p,.xr_forum_box .fl_tb td p .notabs strong{font-weight:normal;color:#999;}
.xr_forum_box .heat dl.xld dt{font-size:16px;font-weight:normal;}
.xr_forum_box .heat dl.xld dd{color:#999;}

/* ==========新锐创想论坛列表页面=========== */
#pt{border:none; color:#7c7c7c}
#pt em{margin:0 5px;}
.xr_list .mn{width:960px;}
.xr_list.ct2 .mn{width:708px;}
.xr_list .sd{width:240px;}
.listTit {border-bottom: 1px solid #e7e7e7;padding-bottom:10px;}
.listTit h1{font-size: 24px;font-weight: normal;margin-right: 20px;}
.listTit .xr_stat{margin-top:12px;color:#898787;}
.listTit .xr_stat .pipe{color:#dfdfdf;margin:0 6px;}
.listTit .y{margin-top:12px;color:#898787;}
.listTit a:link,.listTit a:visited,.listTit a:active,.domain{color:#898787;}
.listTit a:hover{color:#28c0c6;}
.listTit .post_btn{float:right;margin:0 0 0 20px;height:34px;padding:0 20px;font-size:14px;line-height:34px;background:#28c0c6;border-radius:5px; color:#fff !important;}
.listTit .post_btn:hover{background:#09b0b7}
.xr_list .ttp{margin:0;padding-top:16px;}
.xr_list .ttp a{border:none;font-size:14px;}
.xr_list .ttp a span{background: #d8d8d8;border-radius: 2px; color: #fff;font-size: 12px;line-height: 14px;margin-left: 6px;padding: 0 5px;}
.xr_list .ttp .a a{background:none;}
.xr_list .ttp .a span{background-color:#28c0c6;}
.oll .oll_tit h3{font-size:14px;font-weight:normal;margin-bottom:6px;}
.oll .oll_tit h3 strong,.oll .oll_tit h3 span strong{font-weight:normal;}

.xr_tl .th{background:none;padding:0;margin:10px 0 20px;font-size:14px; line-height:16px;}
.xr_tl .th table{width:100%;border-collapse: separate; table-layout: fixed;width: 100%;}
.xr_tl .th:hover th,.xr_tl .th:hover td{background:none;}
.xr_tl .tf .showmenu {background:url({STYLEIMGDIR}arrwd.png) no-repeat 100% top;}
.xr_tl .tf .showmenu:hover {background: url({STYLEIMGDIR}arrwd.png) no-repeat 100% top;}
.xr_tl .tf a {float:left; margin-right:31px;}
.xr_tl .tf a.xw1 {color:#666; font-weight:bold;}
.xr_tl .tl{margin-bottom:20px;}
.xr_tl .tl tbody:last-child td,.xr_tl .tl tbody:last-child th{border-bottom:solid 1px #e7e7e7;}
.xr_tl .tl td,.xr_tl .tl th{padding-top:12px;padding-bottom:12px;border-bottom:1px solid #e7e7e7;}
.xr_tl .tl td.w1{width:1px !important;}
.tl .h_avatar{width:48px;padding-right:10px;}
.tl .h_avatar img{width:48px;height:48px;border-radius:5px;}
.xr_tl .common,.xr_tl .new{padding-right:0;padding-left:10px;}
.tl_tit {height:30px;line-height:30px;overflow:hidden;·}
.tl_tit .views.y{font-size:20px;color:#999;}
.tl_tit h3 a,.tl_tit h3{font-size:16px;font-weight:normal;}
.tl_tit h3 em a:link,.tl_tit h3 em a:visited,.tl_tit h3 em a:active{color:#28c0c6;}
.tl_tit h3 em a:hover{color:#ee1b2e;}
.tl_tit h3 a.xst:link,.tl_tit h3 a.xst:visited,.tl_tit h3 a.xst:active{color:#333;}
.tl_tit h3 a.xst:hover{color:#28c0c6;}
.tl_txt a:link,.tl_txt a:visited,.tl_txt a:active{color:#aaa;}
.tl_txt a:hover{color:#28c0c6;}
.tl_tit .tdpre{margin-right:10px;}
.tl_txt{padding-top:4px;color:#aaa;line-height:20px;}
.tl_txt p{float:left;margin-right:20px;padding-left:20px;}
.tl_txt p.cate_forum{padding:0;margin-right:6px;}
.tl_txt p.cate_forum em{color:#aaa;}
.tl_txt p.publisher{background:url({STYLEIMGDIR}au.png) 0 5px no-repeat;}
.tl_txt p.replyer{background:url({STYLEIMGDIR}rep.png) 0 6px no-repeat;}
.xr_tl .tl .threadpre .threadpretd{border-color:#e7e7e7;}
.xr_tl .tl .threadpre .threadpretd .icon_preview{TOP:-20px;}
#autopbn{border-color:#e7e7e7;}

#atarget, #atarget2, .unchk, .chked {background: url({STYLEIMGDIR}atarget.png) no-repeat left 4px;padding-left:24px;}
#atarget.atarget_1, #atarget2.atarget_1, .chked {background-position: left -36px;}

.xr_tl #fd_page_bottom .pg{float:none;text-align:center;padding:20px 0;}
.xr_tl #fd_page_bottom .pg a,.xr_tl #fd_page_bottom .pg strong,.xr_tl #fd_page_bottom .pg label,
.pgt .pg a,.pgt .pg strong,.pgt .pg label,.pgt .pgb a,.pgs .pg a,.pgs .pg strong,.pgs .pg label,.pgs .pgb a{display:inline-block;background-color:#fff; min-width:16px; height:24px; line-height:24px; float:none; text-align:center; color:#5E5E5E; overflow:hidden; border:#EDEDED 1px solid; padding:0 4px;
  -webkit-transition: none;-moz-transition: none;-o-transition: none;transition: none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.xr_tl #fd_page_bottom .pg label input.px{background:none;border:solid 1px #e7e7e7;}
.xr_tl #fd_page_bottom .pg .nxt,.pgt .pg .nxt,.pgt .pgb a,.pgs .pgb a,.pgs .pg a.nxt{padding:0 22px;}
.xr_tl #fd_page_bottom .pg strong,.xr_tl #fd_page_bottom .pg a:hover,.pgt .pg strong,.pgt .pg a:hover,.pgs .pg strong,.pgs .pg a:hover{background: #28c0c6;border-color: #28c0c6; color: #fff;}
#f_pst,#postform,#nv_portal.pg_portalcp #ct {background: #fff;border:solid 1px #e4e4e4;margin: 0 0 15px;padding: 15px;border-radius:5px;}
#f_pst .bm_h{font-size:16px;background:none;border:none;padding:0 0 20px;}
#f_pst .bm_c{padding:0;}
#f_pst input{background:none;border-color:#e7e7e7;}
#f_pst #typeid_fast_ctrl{border-color:#e7e7e7;background-position:right -1px;}
#fastpostsubmit,#postsubmit.pn.pnc,#postsubmit.pn,#nv_portal.pg_portalcp #ct #issuance.pn.pnc{background:#28c0c6;border:none;width:150px;height:40px;font-size:14px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#f_pst .tedt{border-color:#e7e7e7;}
#postsubmit.pn{background:#e7e7e7;color:#999;}
#separatorline.emptb{display:none;}
.pgbtn .bm_h{border-color:#ddd;background:#fff;}
.pgbtn a{background:#f4f4f4;}

#fwin_nav #fctrl_nav em{font-size:16px;font-weight:normal;color:#666;}
#fwin_nav .pn.xg1{background:#ddd;border:none;height:30px;line-height:30px;margin:0;}
#fwin_nav .pn span{padding:0 20px;}
#fwin_nav .pn.pnc{background:#28c0c6;color:#fff;border:none;height:30px;line-height:30px;margin:0;}
#fwin_nav .pn.pnc:hover{background:#1aa881;}
#fwin_nav .pbl.cl{border:solid 1px #dfdfdf;}
#fwin_nav .pbl.cl li{border-color:#dfdfdf;}
#fwin_nav .pbl.cl li p{height:30px;line-height:30px;}
#fwin_nav .pbl.cl li p a{color:#999;}

.tl tbody:last-child .threadpre .threadpretd{border-color:#e7e7e7;}
.tl .threadpre td,.tl .threadpre:hover td{background:#f2f2f2;}
#fastsmiliesdiv{display:none;}

/* ==============新锐创想帖子列表瀑布流============== */
.xr_waterfall{width:1300px;}
.xr_waterfall ul{margin:0;}
.xr_waterfall li{margin:0 10px 0 0;background:#fff;transition: 400ms; -webkit-transition: 400ms; -moz-transition: 400ms; border:solid 1px #e4e4e4;}
.xr_waterfall li:hover{border-color:#28c0c6;}
.xr_waterfall li .c{padding:12px;border:none;}
.xr_waterfall li h3,.xr_waterfall li .auth{background:none;padding:0;border:none;margin:0;}
.xr_waterfall li h3{font-size:14px;padding:0 10px;}
.xr_waterfall li .desc{color:#aaa;padding:10px;}
.xr_waterfall li .desc em{color:#28c0c6;font-weight:bold;}
.xr_waterfall li .auth{padding:0 10px 10px}
.xr_waterfall li .auth a{display:block;height:30px;line-height:30px;color:#aaa;float:left;}
.xr_waterfall li .auth a img{width:30px;height:30px;border-radius:5px;margin-right:10px;float:left;}
.xr_waterfall li .auth p{margin-top:8px;}
.xr_waterfall li .auth p,.xr_waterfall li .auth p span{display:inline;width:auto;}

/* ==============新锐创想帖子详情页面============== */
.xr_view .mn{width:708px;}
.xr_view .sd{width:240px;}
.post_op{padding:15px 0;}
#post_replytmp{margin:0 15px 15px;display:block;height:42px;line-height:42px;font-size:16px;text-align:center;background-color:#28c0c6;color:#fff !important;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#post_replytmp:hover{background-color:#09b0b7;text-decoration:none;}
#post_replytmp i{width:18px;height:18px;overflow:hidden;background:url({STYLEIMGDIR}post_op.png) no-repeat;display:inline-block; margin-right:15px;vertical-align: middle;}
.post_op ul{width:240px;}
.post_op li{width:59px;float:left;text-align:center;border-right:dotted 1px #e4e4e4;}
.post_op li a{display:block;padding-top:30px;background:url({STYLEIMGDIR}post_op.png) no-repeat;float:none;height:auto;line-height:auto;margin:0;padding-left:0;}
.post_op li a.pa-fb{background-position:-33px 0;}
.post_op li a.pa-dp{background-position:-82px 0;}
.post_op li a.pa-pf{background-position:-135px 0;}
.post_op li a.pa-fx{background-position:-182px 0;}
.post_op li a.pa-fb:hover{background-position:-33px -50px;}
.post_op li a.pa-dp:hover{background-position:-82px -50px;}
.post_op li a.pa-pf:hover{background-position:-135px -50px;}
.post_op li a.pa-fx:hover{background-position:-182px -50px;}
.fixed {position: fixed; top:50px;z-index:199;box-shadow:0 0 8px rgba(0,0,0,0.4);}
#postlist{background:#fff;border:solid 1px #e4e4e4;border-radius:5px;margin-bottom:15px;}
.xr_view .pi{height:auto;}
.xr_view .pi .authi .none{display:none;}
.xr_view .plc .pct .pcb .t_f img{max-width:506px;}
.xr_view .attach_nopermission{width:500px;}
.xr_view_tit h1{font-size:18px;}
.xr_view_tit .hm{padding:10px 0 !important;text-align:left;}
.xr_view_tit .hm span{padding-left:20px;color:#b4b4b4;font-size:14px;margin-right:15px;background:url({STYLEIMGDIR}hm.png) no-repeat;}
.xr_view_tit .hm span.views{background-position:0 2px;}
.xr_view_tit .hm span.views:hover{background-position:-50px -23px;color:#24b9bf;}
.xr_view_tit .hm span.replies{background-position:0 -48px;}
.xr_view_tit .hm span.replies:hover{background-position:-50px -73px;color:#24b9bf;}
.authi{color:#9b9b9b;}
.authi img{border-radius:5px;}
#fastposteditor{margin:0;}
.xr_bt_page{padding:15px;border-left:solid 1px #e4e4e4;border-right:solid 1px #e4e4e4;background:#fff;margin:-15px 0 -1px;position:relative;}
.xr_bt_page #newspecialtmp{display:block;height:42px;line-height:42px;font-size:16px;width:130px;text-align:center;background-color:#28c0c6;background-position:30px -55px;color:#fff !important;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;background-image:url({STYLEIMGDIR}sd_btn.png);background-repeat:no-repeat;padding-left:20px;}
.xr_view #f_pst #fastpostform td.plc{padding:0;}


/* ==============新锐创想资讯列表页 ============== */
#nv_portal.pg_list .mn,#nv_portal.pg_view .mn{width:708px;}
#nv_portal.pg_list .sd,#nv_portal.pg_view .sd{width:240px;}
.xr_article_list .title {border-bottom:2px solid #f5f5f5; height: 50px; line-height:40px;padding:0;}
.xr_article_list .title h1{font-size:24px;font-weight:normal;}
.xr_article_list .xld li{padding:18px 0 18px 260px;position:relative;min-height:166px;_height:166px;border-bottom:solid 1px #e8e8e8;}
.xr_article_list .xld li.nopic{padding-left:0;min-height:108px;_height:108px;}
.xr_article_list .xld li .atc{width:240px;height:160px;display:block;border:solid 1px #e8e8e8;padding:2px;position:absolute;top:18px;left:0;margin:0;}
.xr_article_list .xld li .atc img{width:240px;height:160px;max-height:inherit;max-width:inherit;border:none;padding:0;}
.xr_article_list .xld li h3{font-size:16px;font-weight:normal;}
.xr_article_list .xld li h3 a:link,.xr_article_list .xld li h3 a:visited,.xr_article_list .xld li h3 a:active{color:#333;}
.xr_article_list .xld li h3 a:hover{color:#28c0c6;}
.xr_article_list .xld li .info{font-size:14px;padding:10px 0;line-height:22px;color:#999;}
.xr_article_list .subMenu{font-size:14px;border-bottom:solid 1px #eee; padding:10px 0;}
.xr_article_list .subMenu a{display: inline-block; padding:0 15px; height: 26px; line-height: 26px; margin-right: 10px; border: 1px solid #e6e9ed; text-align: center; vertical-align: middle; }
.xr_article_list .attr {position:absolute;bottom:18px;left:260px;color:#999;}
.xr_article_list li.nopic .attr{position:static;}
.xr_article_list .attr a:link,.xr_article_list .attr a:visited,.xr_article_list .attr a:active{color:#999;}
.xr_article_list .pg{float:none;text-align:center;padding:20px 0;}
.xr_article_list .pg a,.xr_article_list .pg strong,.xr_article_list .pgb a,.xr_article_list .pg label{float:none;display:inline-block;}
.rss {padding-left:20px;background:url({STYLEIMGDIR}xr_rss.png) left center no-repeat;}

/* ==============新锐创想资讯内容页 ============== */
.xr_vw{font-size:14px;}
.xr_vw .h .ph{font-size:24px;color:#333}
.xr_vw .h p{font-size:12px;}
.xr_vw .s,.xr_vw .s strong{color:#999;}
.xr_vw .d{color:#666;line-height:28px;}
.vw .h,.vw .s,.vw .o {border-color:#e8e8e8;}
.vw .o {font-size:12px;}
.vw .o a:link,.vw .o a:visited,.vw .o a:active{color:#aaa;}
#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d{margin-left:0;margin-right:0;}

#comment{border:none;background:#fff;padding:10px;border:solid 1px #e4e4e4;}
#comment .bm_h {height:30px;line-height:30px;font-weight:normal;background:none;border:none;}
#comment .bm_h h3 {font-size:16px;font-weight:normal;}
#comment .tedt{border:solid 1px #ddd;width:100%;}
#comment .ptn .pn{background:#28c0c6;color:#fff;border:none;height:40px;line-height:40px;margin:0;width:160px;font-size:18px;font-weight:normal;border-radius:5px;}
#comment .ptn  .pn:hover{background:#09b0b7;}
#comment_ul #cform{height:120px;}
#comment_ul #cform > .mtm{float:left;}
#comment_ul #cform > .ptn{float:right;}

.ct2_a,.ct3_a{background:#fff;border:solid 1px #e4e4e4;border-radius:5px;}
.widthauto .ct2,.widthauto .ct2 .sd{margin:0 !important;}
.widthauto  #wp .wp{width:auto !important;}
#nv_portal.pg_portalcp .sinf{width:360px;}
#nv_portal.pg_portalcp .sinf dl dd{width:280px;}
#nv_portal.pg_portalcp .sadd{width:500px;}
.widthauto .pg_portalcp .ct2_a .mn{width:800px;margin:0;}
.widthauto .pg_portalcp .ct2_a .appl{margin:0;padding:0;}
.widthauto #nv_group .ct2 .mn{width:730px;}

#ft{margin:10px auto 0;border:none;color:#a2a2a2;}

/* ==============新锐创想群组页面 ============== */
.gr_top ul{padding:5px 10px;}
.gr_top li{padding:10px 0;}
.gr_img{width:48px;height:48px;overflow:hidden;border-radius:3px;margin-right:10px;}
.gr_txt{width:100px;}
.gr_txt a{font-size:14px;color:#333;display:block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.gr_txt p{color:#7c7c7c;padding-top:5px;}
.gr_btn{width:40px;height:24px;line-height:24px;border-radius:3px;display:block;text-align:center;color:#fff !important;background:#28c0c6;margin-top:10px;}
.gr_btn:hover{color:#fff;}
.gr_cate{background:#fff;border:1px solid #e4e4e4;margin-bottom:10px;border-radius:5px;}
.gr_tit{padding:10px 15px 15px 15px;border-bottom:1px solid #e4e4e4;}
.gr_tit h2{font-size:22px;font-weight:normal;}
.gr_tit h2 a{color:#3c3c3c;}
.gr_tit h2 span{font-size:14px;color:#28c0c6;}
.gr_tit p{color:#cdcdcd;line-height:14px;margin-top:10px;}
.gr_tit p a{padding-right:10px;display:inline-block;border-right:solid 1px #cdcdcd;margin:6px 10px 6px 0;}
.gr_con{padding:10px 25px;}
.gr_con li{float:left;width:50%;padding:15px 0;}
.gr_con .gr_img{width:80px;height:80px;margin-right:15px;}
.gr_con .gr_txt{width:220px;}
.gr_con span{padding-left:20px;display:block;float:left;width:50px;background:url({STYLEIMGDIR}gr.png) no-repeat;}
.gr_con span.top{background-position:0 0;}
.gr_con span.comm{background-position:0 -28px;}
.gr_con span.member{background-position:0 -56px;}
.gr_cate .emp {font-size:14px; color:#666;}
.gr_cate .emp h2{padding-bottom:10px;}
.inte_top{padding-bottom:10px;}
.inte_top ul{padding:0 15px;background:url({STYLEIMGDIR}inte.png) 18px 7px no-repeat;}
.inte_top li{height:20px;line-height:20px;padding:7px 0 7px 35px;font-size:13px;}
.inte_top li span{float:right;color:#7c7c7c;}

/* ==============新锐创想群组详情页面 ============== */
#gh{border:none !important;}
#nv_group #ct .mn{width:708px;}
#nv_group #ct .sd{width:240px;}
.gr_banner,.gr_banner .portal_block_summary{border-radius:6px;overflow:hidden;margin-bottom:10px;}
.gr_banner img{display:block;}
.gr_box{background:#fff;border:1px solid #e4e4e4;margin-bottom:10px;border-radius:5px;padding:15px}
.gr_box .gr_img{width:100px;height:100px;margin-right:15px;}
.gr_box_txt{width:550px;}
.gr_box_txt h1{font-size:24px;font-weight:normal;line-height:20px;padding-bottom:10px;}
.gr_desc{line-height:22px;}
.gr_manage,.gr_manage a{color:#999 !important;}
.gr_box_btn{width:230px;}
.join_gr{background:#f8f8f8 url({STYLEIMGDIR}gr.png) 60px -73px no-repeat;padding-left:30px;border: 1px solid #d9d9d9;border-radius: 5px;color: #7c7c7c;cursor: pointer;display: block;font-size: 16px;height: 40px;line-height:40px;text-align: center;width:188px;margin:5px 0 10px 0;}
.gr_box_btn li{float:left;text-align:center;color:#999;width:25%;border-right:dotted 1px #dfdfdf;margin-right:-1px;}
.gr_box_btn li:last-child{border-right:none;}
.gr_box_btn li strong{font-size:15px;font-weight:normal;display:block;color:#333;}
.fa_ivt{margin:0 5px}
.gr_admin li{width:33.3%;}
.gr_admin .module{padding:5px 10px;}
.gr_admin .module li img{border-radius:5px;}
.gr_admin .module li p{text-align:center;}
.other_qr li{text-align:center;margin-bottom:10px;}

.gr_list .th{background:#fafafa;padding: 0 10px; border:1px solid #f0f0f0;height: 40px;line-height: 40px;text-align:center;}
.gr_list .gr_ttp{padding:0 0 10px 0;border:none;}
.more_member{text-align:center;height:30px;font-size:14px;}

/* ==============新锐创想活动页面 ============== */
.act_item{width:1000px !important;overflow:hidden;}
.act_item li{width:310px !important;border-radius:5px;overflow:hidden;float:left;margin-right:12px;margin-bottom:12px;height:300px;border:1px solid #e9e9e9;background:#fff;}
.act_item li .act_pic{padding:0;width:310px;height:172px;border-radius:5px;overflow:hidden;}
.act_item li .act_pic img{width:310px;height:172px;}
.act_item li h3{font-size:16px;font-weight:normal;line-height:36px;height:36px;overflow:hidden;text-overflow: ellipsis;display:block;white-space: nowrap;padding:0 10px;margin-top:10px;}
.act_item li p{color:#999;padding:0 10px;line-height:20px;}
.act_item li p span{float:right;}
.act_item li p.act_info{height:40px;overflow:hidden;padding-top:5px;color:#666;}
.act_detail li{padding:10px 0 10px 75px;position:relative;line-height:20px;font-size:14px;}
.act_detail li span{position:absolute;top:10px;left:0;display:block;width:75px;color:#999;}
.act_detail li.act_pic{padding-left:0;}
.act_detail li.act_pic img{max-width:100%;}

/* ============== 每日签到 ============== */
.pg_dsu_paulsign .ct2 .mn{border: 1px solid #e4e4e4;border-radius:5px;float: left;width:670px;background:#fff;padding:15px;}
.pg_dsu_paulsign .ct2 .sd{width:240px;}
.pg_dsu_paulsign .ct2 .sd .bm{background:#fff;border: 1px solid #e4e4e4;border-radius:5px;margin-bottom:15px;overflow:hidden;}
.pg_dsu_paulsign .ct2 .sd .bm .bm_h{height:40px;line-height:40px; color: #5e5e5e;font-weight: normal;padding:0;background:none;border:none;padding:0 15px;border-bottom:1px solid #e4e4e4;}
.pg_dsu_paulsign .ct2 .sd .bm .bm_h h2{font-size:14px;text-align:center;}

